{% extends 'base.html' %}

{% block title %}
contact
{% endblock title %}





{% block content %}
<h1>contact page</h1>

{% comment %} <table class="table table-dark table-striped-columns my-9 mx-9  text-center">
    <tr>
        <th>fst</th>
        <th>last</th>
        <th>fv</th>
        <th>ag</th>
    </tr>
    {% for i in tbl %}
    <tr>
        <td><h2>{{i.first}}</h2></td>
        <td><h2>{{i.last}}</h2></td>
        <td><h2>{{i.fav}}</h2></td>
        <td><h2>{{i.age}}</h2></td>
    </tr>
    {% endfor %}
</table> {% endcomment %}
<div class="box0">
    <div class="box1">
        <h1>hello</h1>
    </div>
    <div class="box2">
        <h1>hello</h1>
    </div>
    <div class="box3">
        <h1>hello</h1>
    </div>
    <div class="box4">
        <h1>hello</h1>
    </div>
    <div class="box5">
        <h1>hello</h1>
    </div>
</div>






{% endblock content %}

