{% extends 'base.html' %}

{% block title %}
Search
{% endblock title %}

{% block content %}
<h1>search page</h1>

<table class="table table-dark table-striped-columns my-9 mx-9  text-center">
    
  
    
    

    {% for i in fnd %}

    <div class="col d-flex justify-content-center my-4" >
      <div class="card" style="width: 18rem;" id ={{pro_info.id}}>
        <img src="{{i.pro_image.url}}" class="card-img-top" alt="..." height=200>
        <div class="card-body">
          <h5 class="card-title">{{i.pro_name}}</h5>
          <h5 class="card-title">Rs.{{i.price}}</h5>
          <p class="card-text">{{i.desc}}</p>

        </div>
    {% endfor %}




</table>




{% endblock content %}